# =========================================
# BASIC OPTIONS
# =========================================

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # =========================================
    # CANONICAL DOMAIN
    # =========================================

    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} !^myastroboard\.org$ [NC]
    RewriteRule ^ https://myastroboard.org%{REQUEST_URI} [R=301,L]

    # =========================================
    # BLOCK SENSITIVE FILES & FOLDERS
    # =========================================

    # .git
    RewriteRule (^|/)\.git - [F,L,NC]

    # .github
    RewriteRule (^|/)\.github - [F,L,NC]

    # .vscode
    RewriteRule (^|/)\.vscode - [F,L,NC]

    # Composer
    RewriteRule (^|/)composer\.(json|lock|phar)$ - [F,L,NC]

    # Gitignore
    RewriteRule (^|/)\.gitignore$ - [F,L,NC]

    # Prettier
    RewriteRule (^|/)\.prettierrc$ - [F,L,NC]

    # README
    RewriteRule (^|/)README\.md$ - [F,L,NC]
</IfModule>